// import icon
@import '//at.alicdn.com/t/font_2410206_s4d1bpvxrvg.css'
@font-face {
  font-family: 'iconfont';  /* Project id 2541777 */
  src: url('//at.alicdn.com/t/font_2541777_vqudpsc3m1r.woff2?t=1632054762895') format('woff2'),
       url('//at.alicdn.com/t/font_2541777_vqudpsc3m1r.woff?t=1632054762895') format('woff'),
       url('//at.alicdn.com/t/font_2541777_vqudpsc3m1r.ttf?t=1632054762895') format('truetype');
}
